.cash-details-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  margin: 0 auto 3em;
  padding-block: 1.2em;
  width: 60%;
}

.value {
  background-color: #1890ff;
  color: #fff;
  padding: 5px;
}
