.container {
	text-align: left;
    width: 80%;
    margin-inline: auto;
}

.buttons-row {
	border: 1px solid black;
	display: flex;
	flex-direction: row;
	gap: 5px;
	margin: 10px auto 3px;
	width: fit-content;
}

.buttons-row button {
	border-radius: 0;
	font-weight: 600;
}

.outlook-details {
    margin: 10px auto 0;
    text-align: left;
    /*width: 80%;*/
}
